<div class="container">
  <h2>Cursuri</h2>
  <button (click)="openDialog(null)" color="primary" mat-raised-button>Adaugă un nou curs</button>
  <div class="d-flex flex-column">
    <ng-container *ngFor="let course of courses">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{course.name}}</mat-card-title>
          <mat-card-subtitle>Program de studiu: {{course.studyProgram.name}}</mat-card-subtitle>
          <mat-card-subtitle>
            Profesor: {{course.professorUser.firstName + ' ' + course.professorUser.lastName}}</mat-card-subtitle>
          <mat-card-subtitle>Semestrul: {{course.semester}}</mat-card-subtitle>
          <mat-card-subtitle>Opțională: {{course.isOptional}}</mat-card-subtitle>
          <mat-card-subtitle *ngIf="!course.hourTypes">Tipuri de ore: nu are</mat-card-subtitle>
          <mat-card-subtitle *ngIf="course.hourTypes">Tipuri de ore: {{hourTypesNameToString(course.hourTypes)}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button (click)="openDialog(course)" mat-button>Editează</button>
          <button (click)="delete(course)" color="warn" mat-button>Șterge</button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</div>

