<div class="container">
  <h2>Programe de studii</h2>
  <button (click)="openDialog(null)" color="primary" mat-raised-button>Adaugă un nou program de studiu</button>
  <div class="d-flex flex-column">
    <ng-container *ngFor="let studyProgram of studyPrograms">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{studyProgram.name}}</mat-card-title>
          <mat-card-subtitle>Anul:{{studyProgram.year}}</mat-card-subtitle>
          <mat-card-subtitle>Săptămâni:{{studyProgram.weeksInASemester}}</mat-card-subtitle>
          <mat-card-subtitle>Câte semigrupe are:{{studyProgram.numberOfSemiGroups}}</mat-card-subtitle>
          <mat-card-subtitle>Câte semigrupe sunt intr-o grupa:{{studyProgram.howManySemiGroupsAreInAGroup}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button (click)="openDialog(studyProgram)" mat-button>Editează</button>
          <button (click)="delete(studyProgram)" color="warn" mat-button>Șterge</button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</div>

