<form [formGroup]="form" class="forms" style="width: 100%">
  <mat-form-field appearance="fill">
    <mat-label>Program de studiu</mat-label>
    <mat-select [compareWith]="compareFn" formControlName="studyProgramYearId">
      <mat-option *ngFor="let study of studyPrograms" [value]="study.id">{{study.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container *ngIf="!form.controls['studyProgramYearId'].untouched && form.controls['studyProgramYearId'].errors">
    <mat-error *ngIf="form.controls['studyProgramYearId'].errors['required']">
      Field is required
    </mat-error>
  </ng-container>

  <mat-form-field appearance="fill">
    <mat-label>Profesor</mat-label>
    <mat-select [compareWith]="compareFn" formControlName="professorUserId">
      <mat-option *ngFor="let professor of professorUsers"
                  [value]="professor.id">{{professor.firstName + ' ' + professor.lastName}}</mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container *ngIf="!form.controls['professorUserId'].untouched && form.controls['professorUserId'].errors">
    <mat-error *ngIf="form.controls['professorUserId'].errors['required']">
      Field is required
    </mat-error>
  </ng-container>

  <mat-form-field class="full-width">
    <mat-label>Nume</mat-label>
    <input formControlName="name" matInput>
  </mat-form-field>
  <ng-container *ngIf="!form.controls['name'].untouched && form.controls['name'].errors">
    <mat-error *ngIf="form.controls['name'].errors['required']">
      Field is required
    </mat-error>
  </ng-container>

  <mat-form-field class="full-width">
    <mat-label>Prescurtare</mat-label>
    <input formControlName="abbreviation" matInput>
  </mat-form-field>
  <ng-container *ngIf="!form.controls['abbreviation'].untouched && form.controls['abbreviation'].errors">
    <mat-error *ngIf="form.controls['abbreviation'].errors['required']">
      Field is required
    </mat-error>
  </ng-container>

  <mat-form-field class="full-width">
    <mat-label>Semestrul</mat-label>
    <input formControlName="semester" matInput type="number">
  </mat-form-field>
  <ng-container *ngIf="!form.controls['semester'].untouched && form.controls['semester'].errors">
    <mat-error *ngIf="form.controls['semester'].errors['required']">
      Field is required
    </mat-error>
  </ng-container>

  <mat-checkbox formControlName="isOptional">Optional</mat-checkbox>

  <mat-form-field appearance="fill">
    <mat-label>Tipuri de oră</mat-label>
    <mat-select formControlName="hourTypeIds" multiple>
      <mat-option *ngFor="let hourType of hourTypes"
                  [value]="hourType.id">{{hourType.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container *ngIf="!form.controls['hourTypeIds'].untouched && form.controls['hourTypeIds'].errors">
    <mat-error *ngIf="form.controls['hourTypeIds'].errors['required']">
      Field is required
    </mat-error>
  </ng-container>
</form>
<div mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>Nu mersi</button>
  <button (click)="submit($event)" mat-button>Submit</button>
</div>

