.top-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
}

button {
  margin: 10px 15px;
}

.logo {
  margin-left: 20px;
  cursor: pointer;
}
