<form [formGroup]="form" class="forms" style="width: 100%">
<!--  <mat-form-field class="full-width">-->
<!--    <mat-label>Nume</mat-label>-->
<!--    <input formControlName="name" matInput>-->
<!--  </mat-form-field>-->
<!--  <ng-container *ngIf="!form.controls['name'].untouched && form.controls['name'].errors">-->
<!--    <mat-error *ngIf="form.controls['name'].errors['required']">-->
<!--      Field is required-->
<!--    </mat-error>-->
<!--  </ng-container>-->

  <mat-form-field class="full-width">
    <mat-label>Semestrul:</mat-label>
    <input formControlName="semester" matInput type="number">
  </mat-form-field>
  <ng-container *ngIf="!form.controls['semester'].untouched && form.controls['semester'].errors">
  </ng-container>

  <mat-checkbox formControlName="isActive">Activ</mat-checkbox>

</form>
<div mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>Nu mersi</button>
  <button (click)="submit($event)" mat-button>Submit</button>
</div>

