<form [formGroup]="form" class="forms" style="width: 100%">
  <mat-form-field class="full-width">
    <mat-label>Nume</mat-label>
    <input formControlName="name" matInput>
  </mat-form-field>
  <ng-container *ngIf="!form.controls['name'].untouched && form.controls['name'].errors">
    <mat-error *ngIf="form.controls['name'].errors['required']">
      Field is required
    </mat-error>
  </ng-container>

  <mat-form-field class="full-width">
    <mat-label>Anul</mat-label>
    <input formControlName="year" matInput type="number">
  </mat-form-field>
  <ng-container *ngIf="!form.controls['year'].untouched && form.controls['year'].errors">
    <mat-error *ngIf="form.controls['year'].errors['required']">
      Field is required
    </mat-error>
  </ng-container>

  <mat-form-field class="full-width">
    <mat-label>Săptămâni:</mat-label>
    <input formControlName="weeksInASemester" matInput type="number">
  </mat-form-field>
  <ng-container *ngIf="!form.controls['weeksInASemester'].untouched && form.controls['weeksInASemester'].errors">
    <mat-error *ngIf="form.controls['weeksInASemester'].errors['required']">
      Field is required
    </mat-error>
  </ng-container>

  <mat-form-field class="full-width">
    <mat-label>Câte semigrupe are:</mat-label>
    <input formControlName="numberOfSemiGroups" matInput type="number">
  </mat-form-field>
  <ng-container *ngIf="!form.controls['numberOfSemiGroups'].untouched && form.controls['numberOfSemiGroups'].errors">
    <mat-error *ngIf="form.controls['numberOfSemiGroups'].errors['required']">
      Field is required
    </mat-error>
  </ng-container>

  <mat-form-field class="full-width">
    <mat-label>Câte semigrupe sunt intr-o grupa:</mat-label>
    <input formControlName="howManySemiGroupsAreInAGroup" matInput type="number">
  </mat-form-field>
  <ng-container *ngIf="!form.controls['howManySemiGroupsAreInAGroup'].untouched && form.controls['howManySemiGroupsAreInAGroup'].errors">
    <mat-error *ngIf="form.controls['howManySemiGroupsAreInAGroup'].errors['required']">
      Field is required
    </mat-error>
  </ng-container>

</form>
<div mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>Nu mersi</button>
  <button (click)="submit($event)" mat-button>Submit</button>
</div>
