<div class="container">
  <h2>Clase</h2>
  <button (click)="openDialog(null)" color="primary" mat-raised-button>Adaugă o nouă clasă</button>
  <div class="d-flex flex-column">
    <ng-container *ngFor="let classroom of classrooms">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{classroom.name}}</mat-card-title>
          <mat-card-subtitle>{{weekDaysArrayToString(classroom.daysOfWeek)}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button (click)="openDialog(classroom)" mat-button>Editează</button>
          <button (click)="delete(classroom)" color="warn" mat-button>Șterge</button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</div>
