/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();
@import '@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

body {
  margin: 0 !important;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.forms {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Castoro Titling', cursive;
}

mat-card {
  margin: 15px 0;
}


