<div class="container">
  <h2>Schimbă parola</h2>
  <form [formGroup]="form" class="forms">
    <mat-form-field class="full-width">
      <input formControlName="currentPassword" matInput placeholder="Parola curentă" type="password">
    </mat-form-field>
    <ng-container *ngIf="!form.controls['currentPassword'].untouched && form.controls['currentPassword'].errors">
      <mat-error *ngIf="form.controls['currentPassword'].errors['required']">
        Field is required
      </mat-error>
      <mat-error *ngIf="form.controls['currentPassword'].errors['minlength']">
        Minim 6 litere
      </mat-error>
    </ng-container>

    <mat-form-field class="full-width">
      <input formControlName="newPassword" matInput placeholder="Noua parolă" type="password">
    </mat-form-field>
    <ng-container *ngIf="!form.controls['newPassword'].untouched && form.controls['newPassword'].errors">
      <mat-error *ngIf="form.controls['newPassword'].errors['required']">
        Field is required
      </mat-error>
      <mat-error *ngIf="form.controls['newPassword'].errors['minlength']">
        Minim 6 litere
      </mat-error>
    </ng-container>

    <mat-form-field class="full-width">
      <input formControlName="repeatPassword" matInput placeholder="Repetă parola" type="password">
    </mat-form-field>
    <ng-container *ngIf="!form.controls.repeatPassword.untouched && form.controls.repeatPassword.errors">
      <mat-error *ngIf="form.controls.repeatPassword.errors['required']">
        Field is required
      </mat-error>
      <mat-error *ngIf="form.controls.repeatPassword.errors['minlength']">
        Minim 6 litere
      </mat-error>
    </ng-container>
  </form>
  <div class="buttons">
    <button (click)="submit($event)" mat-raised-button>Schimbă</button>
  </div>
</div>
